html {
  height: 100%;
  width: 100%;
}
.center {
  text-align: center;
}
.right {
  position:absolute; right:0;
}
.fixed{
  position: fixed;
}
.banner {
  border-color: black;
  background-color: lightblue;
  height: 60px;
}
.overflow {
  overflow-y: auto;
}
.white {
  color: white;
}
